@media (min-width: 320px) {
  .kr-menu li{
    width: 100%;
  }

  .title-content-section .i-title{
    width: 15%;
  }

  .title-content-section > h2{
    font-size: 16px;
  }

  #content h3{
    font-size: 16px;
    font-weight: bold;
  }

}

@media (min-width: 320px) and (max-width: 600px){
  #content .text-center img{
    width: 100%;
}

@media (min-width: 600px) {
  .title-content-section .i-title{
    width: 40px;
  }

  .title-content-section > h2{
    font-size: 20px;
  }

  #content h3{
    font-size: 18px;
  }
}
