<footer id="contact" class="bg-primary">
   <div class="container">
       <div class="row">
           <div class="col-lg-10 col-lg-offset-1 text-center">
               <h4><strong>Klauth - Rebirth</strong></h4>
               <ul class="list-unstyled">
                   <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:dynamiquezak.@gmail.com">dynamiquezak.@gmail.com</a>
                   </li>
               </ul>
               <hr style="width: 15%;"></hr>
               <p><a href="https://www.facebook.com/dzak.productions">Page Facebook</a></p>
               <p><a href="http://blenderclan.tuxfamily.org/html/modules/newbb/viewtopic.php?topic_id=46141">Topic sur le BlenderClan</a></p>
               <hr class="small">
               <p class="text-muted">Copyright &copy; Schartier Isaac 2016</p>
           </div>
       </div>
   </div>
</footer>
